.sobre_section {
    padding: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f8f9fa;
}
.blue{
    background-color: #007bff;
    color: #007bff;
}
.pink{
    background-color: #e866a7;
    color: #e866a7;
}
.purple{
    background-color: #80229f;
    color: #80229f;
}
.green{
    background-color: #28a745;
    color: #28a745;
}

.sobre_section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sobre_section h2{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: rgba(166, 156, 156, 0.624) solid 1px;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.sobre_section .container{
    background-color: white;
    border-radius: 10px;
    
}
.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.sobre-card {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sobre-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.sobre-card h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.sobre-card p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.7;
    text-align: justify;
}

.social-links {
    text-align: center;
    margin-top: 50px;
}

.social-links h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.social-links ul {
    list-style: none;
    padding: 0;
}

.social-links ul li {
    display: inline-block;
    margin: 0 10px;
}

.social-links ul li a {
    font-size: 2rem; /* Tamanho do ícone */
    transition: color 0.3s ease;
}

.social-links ul li a:hover {
    color: #0056b3;
}
@media (max-width: 1202px){
    .sobre_section{
        padding: 10px;
        padding-top: 25px;
    }
}