.quiz_section {
    padding: 100px 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-size: 190%;
    background-position: center;
}

.blue{
    background-color: #007bff;
    color: #007bff;
}
.pink{
    background-color: #e866a7;
    color: #e866a7;
}
.purple{
    background-color: #80229f;
    color: #80229f;
}
.green{
    background-color: #28a745;
    color: #28a745;
}

.quiz_section h2{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: rgba(166, 156, 156, 0.624) solid 1px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 30px;
}

.quiz_section .container {
    background-color: white; /* Cor branca no container */
    padding: 30px;
    max-width: 1240px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombras para dar destaque ao container */
}
#quiz-container {
    text-align: center;
}
#question-container {
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 12px;
    background-color: #f8f9fa;
    font-weight: 600; /* Aumenta a espessura da fonte */
}

#answers-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
    justify-content: center; /* Centraliza os itens */
    max-width: 1200px; /* Define uma largura máxima para o container */
    margin: 0 auto; /* Centraliza o container na página */
}

#answers-container button {
    width: 48.6%;
    padding: 10px;
    margin: 5px; /* Espaçamento entre os botões */
    font-size: 1.2rem;
    color: black;
    border: rgba(0, 0, 0, 0.533) solid 1px; /* Remove a borda */
    border-radius: 8px;
    background-color: white; /* Cor de fundo cinza claro */
    transition: background-color 0.3s;
}


#answers-container button:hover {
    background-color: #000000;
    color: white;
}
#final-score{
    margin: 0 auto;
    text-align: center;
}
#score-container {
    margin-top: 20px;
    margin: 20px auto;
}

.jogos-explanation {
    background-color: #f8f9fa;  /* Cor de fundo suave */
    padding: 50px 0;
}

.jogos-explanation .container {
    max-width: 1260px;  /* Aumentar o container para 1250px */
    margin: 0 auto;
}
.jogos-info {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);  /* Sombrinha suave */
    border-top: 20px solid #000000; 
}

.icon-title {
    display: inline-block; /* Alinha o ícone e título na mesma linha */
    margin-bottom: 20px;
}

.jogos-info h3 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    text-align: left;  /* Alinhar o título à esquerda */
    display: inline-block;  /* Faz o título se alinhar com o ícone */
    margin-left: 10px;  /* Espaço entre o ícone e o título */
}

.jogos-info h4 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
    text-align: left;  /* Alinhar o título à esquerda */
}

.jogos-info p {
    font-size: 1.1rem;
    color: #555;
}

/* Exibir conteúdo quando passar o mouse */
.jogos-info:hover p {
    opacity: 1;  /* Quando passar o mouse, o conteúdo se torna visível */
}

.jogos-info i {
    font-size: 2rem;  /* Tamanho do ícone */
    color: #000;  /* Cor preta para o ícone */
    margin-right: 10px;  /* Espaço entre o ícone e o título */
    margin-top: 30px;
    margin-bottom: 20px;
}
#trophy-container {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    margin-top: 20px; /* Margem superior para afastar do conteúdo acima */
}

#trophy-container i {
    font-size: 6rem; /* Tamanho do ícone */
    color: gold; /* Cor dourada */
    margin-bottom: 10px; /* Espaçamento entre o ícone e o botão */
}

#restart-button {
    padding: 10px 20px; /* Espaçamento do botão */
    font-size: 1.2rem; /* Tamanho da fonte do botão */
    color: white; /* Cor do texto do botão */
    background-color: #007bff; /* Cor de fundo do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

#restart-button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.jogos-info{
    text-align: justify;
}
@media (max-width: 1202px){
    .quiz_section{
        padding: 25px 10px;
    }
    .quiz_section{
        background-size: 0%;
    }
    .jogos-info i{
        display: none;
    }
    .jogos-explanation .container{
        margin-top: -30px;
        margin-bottom: -60px;
    }
    #answers-container button {
        width: 100%;
    }
}